
@import url('https://fonts.googleapis.com/css2? family=Josefin+Sans:wght@400;700&display=swap');

*{
box-sizing: border-box;
}

body{
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
}
#grid{
    /*......*/
    /*......*/
    /*......*/
    /*......*/
    /*......*/
    /*......*/
}
#page-header{
    /*......*/
    background-color: #d2e1b3;
    padding: 2rem;
}
nav{
    /*......*/
    background-color: #b3e1db;
    padding: 2rem;
}
main{
    /*......*/
    background-color: #e1b3b3;
    padding: 2rem;
    /*......*/
    /*......*/
}

main section{
    /*......*/
    /*......*/
    /*......*/
}
 article{
    background-color: #efefef;
    padding: 2rem;
    /*......*/
    min-width: 150px;
    min-height: 200px;
 }
aside{
    /*......*/
    background-color: #b3d8e1;
    padding: 2rem;
}
footer{
    /*......*/
    background-color: #efefef;
    padding: 2rem;
}

@media only screen and (max-width:700px) {
    #grid{
        /*......*/
        /*......*/
        /*......*/
        /*......*/
    }
}

