*{
    box-sizing: border-box;
}
body {
    margin: 0;
    display: block;
    padding: 2rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: center;
}

header a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

i{
    color: #767676;
    font-size: 30px;
}

.fa-pinterest{
    color: #e60023;
    font-size: 2rem;
}
.button-container, nav{
    display: flex;
    padding: 10px;
    width: 10%;
}
.button-container{
    justify-content: space-between;
}
nav{
    justify-content: start;
    gap: 1rem;
    align-items: center;
}


.button-container i{
    font-size: 30px;
}

form{
    width: 80%;
    display: flex;
   
}

input{
    background-color: #efefef;
    border: 0;
    border-radius: 0px 50px 50px 0px;
    height: 50px;
    padding: 10px;
    width: 100%;
}

.fa-search{
    background-color: #efefef;
    border: 0;
    border-radius: 50px 0px 0px 50px;
    height: 50px;
    padding: 17px 0 17px 10px;
    font-size: 16px;
    font-weight: 600;
}

main{
    max-width: 1000px;
    width: 100%;
    overflow: hidden;
    margin: 2rem auto;
    border-radius: 25px;
    box-shadow: 0px 0px 22px #d5d5d4;
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    gap: 1.5rem;
    justify-content: space-between;
}

main img{
    max-width: 500px;
    width: 100%;
    border-radius: 25px;
}

main section {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
}

.left{
    width: 50%;
    display: flex;
    justify-content: start;
    gap: 1rem;
    align-items: center;
}

.left i{
    color: #000;
    font-size: 20px;
}

.right{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.right button, #follow button{
    border-radius: 34px;
    padding: 14px;
    background-color: #e60023;
    color: #fff;
    border: 0;
    font-size: 16px;
    font-weight: 600;
}

main section h1{
    font-size: 40px;
    margin: 10px 0;
}
main section p{
    margin: 0;
}

main section .button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

main section form{
    flex-direction: column;
    width: 100%;
    gap: 1rem;

}

#user-comment{
    display: flex;
    gap: 1rem;
    align-items: center;
}

#user-comment i{
    font-size: 50px;
}

#user-comment input{
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid #efefef;

}

#follow{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    align-items: center;
}

#follow button{
    background-color: #efefef;
    color: #000;
}

#more{
    padding: 0 5rem;
	display: grid;
	grid-template-columns: repeat(6, auto);
	grid-template-rows: repeat(6, auto);
	gap: 1rem;
}

#more h2 {
    width: 100%;
    text-align: center;
    grid-column: 1/7;
    grid-row: 1/2;
}

#box-1{
	grid-row: 2/3;
	grid-column: 1/2;
}

#box-2{
	grid-column: 2/3;
	grid-row: 2/3;
}

#box-3{
	grid-row: 2/4;
	grid-column: 3/4;
}


#box-4{
	grid-row: 2/3;
	grid-column: 4/5;
}

#box-5{
	grid-row: 2/4;
	grid-column: 5/6;
}

#box-6{
	grid-column: 6/7;
	grid-row: 2/3;
}

#box-7 {
	grid-row: 3/4;
    grid-column: 1/2;
    
}

#box-8 {
	grid-row: 3/4;
    grid-column: 2/3;
}

#box-9 {
    grid-column: 3/4;
    grid-row: 4/7;
}

#box-10 {
    grid-column: 4/5;
    grid-row: 3/5;
}

#box-11 {
    grid-column: 5/6;
    grid-row: 4/6;
}

#box-12 {
    grid-column: 6/7;
    grid-row: 3/4;
}

#box-13 {
    grid-column: 1/2;
    grid-row: 4/6;
}

#box-14 {
    grid-column: 2/3;
    grid-row: 4/6;
}

#box-15 {
    grid-column: 4/5;
    grid-row: 5/6;
}
#box-16 {
    grid-column: 6/7;
    grid-row: 4/6;
}
#more img{
    max-width: 300px;
    width: 100%;
    border-radius: 20px;
}

#more article{
	display: flex;
	flex-direction: column;
}

#more article h3{
	margin: 10px 0 0 0;
}