@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;1,100&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,500&display=swap');


/*For å prøve å fullføre stilsettingen på egenhånd så ligger det små oppgaver til hva du skal gjøre som kommentarer nedover i CSS-en*/
/*Det finnes også noen små oppgaver i print.css arket*/


/*Her stoppet vi i forelesningen*/
/**/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header nav h3 {
    float: left;
  }

header nav ul{
    float:right;

}

header nav ul li{
    display: inline-block;
    margin: 0 0.5rem;
}

header nav a{
    color:#000;
    text-decoration: none;
}

header nav ul li a:hover{
    text-decoration: underline;
}

nav{
    overflow: auto;
    background-color: #d2dfe1;
    padding: 2rem;
}

#front-page-container{
    margin: 2rem auto;
    /*la til padding*/
    padding: 0 1rem;
    max-width: 1200px;
    width: 100%;
    overflow: auto;
}

main{
    width: 80%;
    float: left;
}

/*laget en klasse som brukes på arikklene på innholdssidene*/
.article-content{
    width: 80%;
    float: left;
}

main article{
    /*endret vidde bredde fra hva vi gjorde 05.08*/
    max-width: 250px;
    width: 100%;
    float: left;
    border: 1px solid #d9d9d9;
    padding: 1rem;
    margin:0.5rem;
}

/*la til bredcrumbs og fjernet default CSSS på ul elementet med id breadcrumbs*/
#breadcrumbs{
    padding: 0;
    margin: 0;
}

#breadcrumbs li{
    display: inline-block;    
}

#breadcrumbs li::after{
    content: ">";
}
#breadcrumbs li:last-child::after{
    content: "";
}
#breadcrumbs li:/*....*/{
    /*Gjør det siste elementet i brødsmulestien tykkere*/
}

/*Lag en klasse som du kaller for button og sett den på <a> som ligger i artikkelboksene på forsiden*/
/*selector*/{
    display:/*....*/;
    /*gi en passene innvedig luft på elementet*/
    /*sett en bakgrunnsfarge*/
    /*fjern understreken*/
    /*sett en passende farge*/
}

/*sett hover på knappen du laget over*/
/*selector*/{
    /*sett en annen bakgrunnsfarge ved hover*/
    /*sett en annen farge ved hover*/
}

/*sett active på knappen du laget over, slik at knappen endrer seg når du trykker på den*/
/*selector*/{
    /*sett en annen bakgrunnsfarge ved active*/
    /*sett en annen farge ved active*/
}

article img{
    /*Det er ikke optimalt å gjøre et mindre bilde større på denne måten, men dette er ment til øving så det er greit!*/
    width: 100%;
}

aside{
    width: 20%;
    float: left;
}

footer{
    clear: both;
    background-color: rgb(80, 80, 80);
    color: #fff;
    padding: 3rem 2rem;
}



