/*Her stoppet vi i forelesningen*/
/**/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header nav h3 {
    float: left;
  }

header nav ul{
    float:right;

}

header nav ul li{
    display: inline-block;
    margin: 0 0.5rem;
}

header nav a{
    color:#000;
    text-decoration: none;
}

nav{
    overflow: auto;
    background-color: #d2dfe1;
    padding: 2rem;
}

#front-page-container{
    margin: 2rem auto;
    max-width: 1200px;
    width: 100%;
    overflow: auto;
}

main{
    width: 80%;
    float: left;
}

article{
    max-width: 300px;
    width: 100%;
    float: left;
    border: 1px solid #d9d9d9;
    padding: 1rem;
    margin:0.5rem;
}

article img{
    /*Det er ikke optimalt å gjøre et mindre bilde større på denne måten, men dette er ment til øving så det er greit!*/
    width: 100%;
}

aside{
    width: 20%;
    float: left;
}

footer{
    clear: both;
    background-color: rgb(80, 80, 80);
    color: #fff;
    padding: 3rem 2rem;
}